@import url('./main-layout.css');
@import url('./views/login-view.css');
@import url('./views/user-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('@fontsource/poppins');    html {
      --lumo-primary-color: hsl(269, 90%, 52%);
      --lumo-primary-color-50pct: hsla(269, 90%, 52%, 0.5);
      --lumo-primary-color-10pct: hsla(269, 90%, 52%, 0.1);
      --lumo-primary-text-color: hsl(259, 90%, 52%);
--lumo-font-family: Poppins;

    }
